/* 页码块样式 */
.页码块{
    min-width: 720px;
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: center;
    margin: 0px;
}

.页码块 a{
    padding: 3px 15px;
    display: inline-block;
    text-decoration: none;
}

.页码块 li{
    margin: 0px -1px;
    background-color: #4f535b;
    border: 1px solid black;
}

.选中{
    font-weight: 1000;
}

/* 展示列表样式 */
.展示列表{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.展示列表 li:first-child .展示块{
    border-radius: 5px 5px 0px 0px;
}

.展示列表 li:last-child .展示块{
    border-radius: 0px 0px 5px 5px;
}