.顶部块{
    width: 670px;
    height: auto;
    margin: 0px auto;
    border: 3px solid black;
    background-color: #4f535b;
    border-radius: 3px;
    padding: 10px 22px;
}

.tag按钮{
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 3px;
}

.tag按钮 input{
    display:none; 
}

.tag按钮 label{
    width: 125px;
    height: 30px;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255,0.2),
    1px 1px 2px black;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.tag按钮 span{
    position: relative;
    top: 4px;
    user-select:none;
}

.同{
    background-color: rgb(158, 39, 32);
}

.漫{
    background-color: rgb(219, 108, 36);
}

.绘{
    background-color: rgb(211, 143, 29);
}

.游{
    background-color: rgb(97, 124, 99);
}

.西{
    background-color: rgb(171, 159, 96);
}

.无{
    background-color: rgb(95, 169, 207);
}

.图{
    background-color: rgb(50, 92, 162);
}

.角{
    background-color: rgb(106, 50, 162);
}

.亚{
    background-color: rgb(162, 50, 130);
}

.杂{
    background-color: rgb(119, 119, 119);
}

.搜索栏{
    width: 565px;
    height: 15px;
    margin-bottom: 10px;
    padding: 6px;
}

.上传搜索{
    width: 75px;
    height: 30px;
    background-color: #34353b;
    color: #F1F1F1;
    border-radius: 3px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

a:link{
    color: #DDDDDD;
}

a:visited{
    color: #DDDDDD;
}

.设置{
    text-align: center;
}