.二级{
    margin-right: 5%;
    width: 400px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.二级 a{
    height: 50px;
    width: 130px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.点击{
    background-color: rgb(50, 108, 184)!important;
    color: white !important;
}

.二级 a:hover{
    background-color: rgb(238, 238, 238);
}

.新闻{
    color: rgb(0, 0, 0);
}

button{
    margin-left: 5px;
}
