/* All block styles */
.DisplayBlock {
    width: 1250px;
    list-style: none;
    margin: -1px auto;
    background-color: #4f535b;
    border: 1px solid black;
    padding: 15px;
    display: flex;
}

/* Left side styles */
.LeftSide {
    display: flex;
}

.LeftSide_Content {
    width: 230px;
    margin: 0px 10px;
    padding:10px 15px;
    border-right: 1px solid black;
}

.Uploader {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.Tag {
    width: 130px;
    height: 30px;
    margin: 0px auto;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255,0.2),
    1px 1px 2px black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Image {
    width: 250px;
    height: 366px;
    border: 1px solid black;
}

.Description {
    display: flex;
}

.Title {
    width: 80px;
    font-weight: 700;
    text-align: left;
}

/* Right side styles */
.RightSide {
    width: 100%;
}

.RightSide_Title {
    padding-bottom: 15px;
    border-bottom: 2px solid #34353b;
}

.RightSide_Title p {
    font-size: 18px;
    margin-bottom: 5px;
}

.RightSide_Tags {
    margin: 10px 0px 5px 5px;
}

.RightSide_Tag {
    display: flex;
    margin-bottom: 5px;
}

.Tag_Title {
    min-width: 60px;
    text-align: right;
}

.Tag_Content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.Tag_Content a {
    height: 17px;
    margin-left: 5px;
    padding: 2px 6px 4px 6px;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 2px;
    text-decoration: none;
}

.Tag_Content a:hover {
    color: aliceblue;
}

/* Seed styles */
.Mask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SeedPage {
    width: 900px;
    padding: 20px 15px 20px 15px;
    background-color: #34353b;
    border: 5px solid rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.SeedContent {
    font-size: 13px;
    text-align: center;
}

.SeedPage th {
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(173, 173, 173);
}

.SeedContent td {
    padding-top: 5px;
}
