/* Pagination Block Styles */
.pagination-block {
    min-width: 720px;
    list-style: none;
    display: flex;
    padding: 0px;
    justify-content: center;
    margin: 0px;
}

.pagination-block a {
    padding: 3px 15px;
    display: inline-block;
    text-decoration: none;
}

.pagination-block li {
    margin: 0px -1px;
    background-color: #4f535b;
    border: 1px solid black;
}

.selected {
    font-weight: 1000;
}

/* Display List Styles */
.display-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.display-list li:first-child .display-block {
    border-radius: 5px 5px 0px 0px;
}

.display-list li:last-child .display-block {
    border-radius: 0px 0px 5px 5px;
}
