.大外框{
    overflow: hidden;
    margin-left: 12px;
    font-weight: 550;
}

.非标题{
    transition: padding-left 0.3s,width 0.3s;
    width: 98vw;
}

.非标题-菜单{
    width: calc(98vw - 320px);
    padding-left: 320px;
    transition: padding-left 0.3s,width 0.3s;
}

