.标题{
    width: 100vw;
    height: 40px;
    background-color: rgb(49, 54, 59);
    color: aliceblue;
    -webkit-app-region: drag;
    font-size: 16px;
    display: flex;
    align-items: center;
    user-select: none;
}

.标题 img{
    width: 25px;
}

.标题 span{
    margin: 5px;
}