body {
    margin: 0px;
    background: linear-gradient(130deg, rgb(255, 150, 80), rgb(253, 36, 36));
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 40px;
    height: 40px;
}

.menu {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu:hover + label,
.menu:hover + label::before,
.menu:hover + label::after {
    background-color: white;
}

.menu + label {
    width: 40px;
    height: 5px;
    background-color: rgba(223, 237, 250, 0.7);
    border-radius: 2.5px;
    font-size: 5vh;
    display: block;
    position: relative;
    top: 17px;
    transition: background 0.5s;
}

.menu + label::before,
.menu + label::after {
    content: "";
    width: 40px;
    height: 5px;
    background-color: rgba(223, 237, 250, 0.7);
    border-radius: 2.5px;
    display: block;
    transition: top 0.5s, transform 0.5s, background 0.5s;
    position: relative;
}

.menu + label::before {
    top: -10px;
}

.menu + label::after {
    top: 5px;
}

.menu:checked + label {
    background: transparent;
    transition: background 0.5s;
}

.menu:checked + label::before,
.menu:checked + label::after {
    position: absolute;
    top: 0px;
    transform-origin: 50% 50%;
    transition: top 0.5s, transform 0.5s, background 0.5s;
}

.menu:checked + label::before {
    transform: rotate(-45deg);
}

.menu:checked + label::after {
    transform: rotate(45deg);
}

@keyframes anime {
    0% {
        transform: rotate3d(0);
    }
    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}
