.菜单详情{
    width: calc(100% + 20px);;
}

.头像{
    height: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.头像 img{
    width: 100px;
    height: 100%;
    border-radius: 40px;
}

.用户名{
    color: white;
    text-align: center;
    margin-top: 10px;
}