.搜索{
    height: 200px;
    background-color: rgb(235, 235, 235);
}

.搜索块{
    padding-top: 30px;
    padding-left: 60px;
}

.搜索块 input{
    height: 20px;
    width: 250px;
}

.搜索块 button{
    padding-bottom: 3px;
}