body {
    background-color: #34353b;
    color: #F1F1F1;
    font-size: 15px;
}

.match-count {
    min-width: 720px;
    margin-top: 30px;
    text-align: center;
}

.footer-note {
    text-align: center;
}

.footer-hint {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0px;
    text-align: center;
    cursor: pointer;
}
