/* 全部块样式 */
.展示块{
    width: 1250px;
    list-style: none;
    margin: -1px auto;
    background-color: #4f535b;
    border: 1px solid black;
    padding: 15px;
    display: flex;
}

/* 左侧样式 */
.左侧{
    display: flex;
}

.左侧_内容{
    width: 230px;
    margin: 0px 10px;
    padding:10px 15px;
    border-right: 1px solid black;
}

.上传者{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.tag{
    width: 130px;
    height: 30px;
    margin: 0px auto;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255,0.2),
    1px 1px 2px black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img {
    width: 250px;
    height: 366px;
    border: 1px solid black;
}

.介绍{
    display: flex;
}

.标题{
    width: 80px;
    font-weight: 700;
    text-align: left;
}

/* 右侧样式 */
.右侧{
    width: 100%;
}

.右侧_标题{
    padding-bottom: 15px;
    border-bottom: 2px solid #34353b;
}

.右侧_标题 p{
    font-size: 18px;
    margin-bottom: 5px;
}

.右侧_tags{
    margin: 10px 0px 5px 5px;
}

.右侧_tag{
    display: flex;
    margin-bottom: 5px;
}

.tag_标题{
    min-width: 60px;
    text-align: right;
}

.tag_内容{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.tag_内容 a{
    height: 17px;
    margin-left: 5px;
    padding: 2px 6px 4px 6px;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 2px;
    text-decoration: none;
}

.tag_内容 a:hover{
    color: aliceblue;
}

/* 种子样式 */
.遮罩{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.种子页面{
    width: 900px;
    padding: 20px 15px 20px 15px;
    background-color: #34353b;
    border: 5px solid rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.种子内容{
    font-size: 13px;
    text-align: center;
}

.种子页面 th{
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(173, 173, 173);
}

.种子内容 td{
    padding-top: 5px;
}







