.菜单栏{
    margin-top: 40px;
    width: 320px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    transition: all 0.3s;
}

.菜单栏-隐藏{
    margin-top: 40px;
    transform: translate(-300px);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px; 
    transition: all 0.3s;
}

.菜单内容{
    width: 300px;
}

.菜单内容 img{
    width: 300px;
}