.待办表{
    list-style: none;
    padding: 0px;
    border-radius: 3px;
}

.待办表 li{
    padding: 7px;
    width: 552px;
    margin: -1px auto;
    border: 1px solid rgb(155, 153, 153);
}

.按钮{
    float: right;  
}

.待办表 li:hover{
    background-color: rgb(223, 223, 223);
    display: block;
}
