.table {
    list-style-type: none;
    padding: 0px;
}

.table li {
    height: 300px;
    width: 33%;
    display: inline-block;
    text-align: center;
    border: 2px solid rgb(199, 197, 196);
    margin: 10px -1px;
}

img {
    margin-top: 15px;
    max-width: 60%;
    height: 75%;
}
